<a href="{{ href }}" class="button {{ ctaclass|default('cta') }} {% if target != '_blank' %}not-external{% endif %} {{ classes }}" id="{{ id }}" target="{{ target }}">{{ text }}

{% if target == '_blank' %}
  <svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
    <title>Group 20</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-21" transform="translate(-1030.000000, -266.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Group-20" transform="translate(1030.000000, 263.000000)">
                <polygon id="Rectangle-11" points="11.3 14.3 11.3 12.0324707 13 12.0324707 13 16 0 16 0 3 4.08325195 3 4.08325195 4.7 1.7 4.7 1.7 14.3"></polygon>
                <path d="M13.2835092,7.15480629 L13.2835092,7.7542963 L7.00482553,7.7542963 L8.54849335,9.29888464 C8.89470927,9.64510057 8.89470927,10.2064096 8.54849335,10.5526255 C8.20227742,10.8988414 7.64135102,10.8988414 7.29500265,10.552493 L4.23513532,7.49071275 C3.8889194,7.14449682 3.8889194,6.58337912 4.23508235,6.23721618 L7.29553843,3.17599521 C7.64158534,2.82935676 8.20298225,2.82935676 8.54925854,3.17563305 C8.89547446,3.52184898 8.89547446,4.08315798 8.54930577,4.42932667 L6.99755544,5.98142286 L13.2835092,5.98142286 C13.772993,5.98142286 14.169946,6.3783758 14.169946,6.86785958 C14.169946,7.35734336 13.772993,7.7542963 13.2835092,7.7542963 L13.2835092,7.15480629 Z" id="Fill-1" transform="translate(9.072706, 6.864121) rotate(-225.000000) translate(-9.072706, -6.864121) "></path>
            </g>
        </g>
    </g>
  </svg>
{% endif %}

</a>
