<a href="{{ href }}" class="button {{ ctaclass|default('cta') }} {% if target != '_blank' %}not-external{% endif %} {{ classes }}" id="{{ id }}" target="{{ target }}">{{ text }}

{% if target == '_blank' %}
  <svg version="1.1" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g transform="translate(-1030 -266)" fill="#000" fill-rule="nonzero"><g transform="translate(1030 263)"><polygon points="11.3 14.3 11.3 12.032 13 12.032 13 16 0 16 0 3 4.0833 3 4.0833 4.7 1.7 4.7 1.7 14.3"/><path transform="translate(9.0727 6.8641) rotate(135) translate(-9.0727 -6.8641)" d="m13.284 7.1548v0.59949h-6.2787l1.5437 1.5446c0.34622 0.34622 0.34622 0.90752 0 1.2537-0.34622 0.34622-0.90714 0.34622-1.2535-1.325e-4l-3.0599-3.0618c-0.34622-0.34622-0.34622-0.90733-5.297e-5 -1.2535l3.0605-3.0612c0.34605-0.34664 0.90744-0.34664 1.2537-3.6216e-4 0.34622 0.34622 0.34622 0.90752 4.723e-5 1.2537l-1.5518 1.5521h6.286c0.48948 0 0.88644 0.39695 0.88644 0.88644s-0.39695 0.88644-0.88644 0.88644v-0.59949z"/></g></g></g></svg>
{% endif %}

</a>
