<div class="one_up--primary fluid {{ gridframe ? gridframe : '' }} {{ classes }}">
  <div class="grid-x grid-margin-x {{ grid ? grid : '' }}">
    {% block column %}
      <div class="cell {{ cols ? cols : 'medium-grid-10' }} {{ offset_left ? offset_left : 'medium-offset-1' }}">
        {% include component with contents only %}
      </div>
    {% endblock %}
  </div>
</div>
