{% set style = 'full-screen' %}
{% import "@macros/ci-size.html.twig" as ci %}

{% macro print(title) %}
  <span class="solid">{{ story__title}}</span>
{% endmacro %}

{% set titleArray = story__title|split('<br>') %}
{% set titleFirstLine = titleArray[0]|trim %}
{% set titleSecondLine = titleArray[1]|trim %}
{% if background__image[background__image|length - 1].src %}
  {% set background__image = background__image[background__image|length - 1] %}
{% endif %}
<div class="cover_page" id="CoverPage" data-bg-image="{{ background__image.src }}.jpg" data-bg-image-alt="{{ background__image.alt }}">
  <div class="underlay">
    <div class="underlay_contents">
      <h1 class="headline exhibit_logo"><span class="solid">{{ titleFirstLine }}</span>{% if titleArray|length > 1 %}<br><span class="outline">{{ titleSecondLine }}</span>{% endif %}</h1>
      <h2 class="subtitle">{{ story__subtitle|trim }}</h2>
      <div class="content"><div class="info">{{ exhibit__info|trim }}{% if exhibit__dates %}<span class="dates">{{ exhibit__dates|trim }}</span>{% endif %}</div></div>
    </div>
  </div>
  <div class="cover_loader_container">
    <div class="top loaderpane">
      <div class="headline mask" style="background-image: url({{ background__image.src }}.jpg)"><span class="text">{{ titleFirstLine }}{% if titleArray|length > 1 %}<br>{{ titleSecondLine }}{% endif %}</span></div>
    </div >
    <div id="mask_loader" class="mask_loader loader loaderpane">
      <div class="headline"><span class="text">{{ titleFirstLine }}{% if titleArray|length > 1 %}</span><br><span>{{ titleSecondLine }}{% endif %}</span></div>
    </div>
  </div>
  {% include "@atoms/down_arrow/down_arrow.html.twig" with only %}

  {% if credits %}
    {% include "@atoms/caption/caption.html.twig" with { 
      text: credits,
      id: 'credits_' ~ id
    } only %}
  {% endif %}

</div>
