{% import "@macros/inklude.html.twig" as inklude %}
<div class="two_up--primary fluid {{ classes }}">
  <div class="wrapper grid-x grid-margin-x" id="{{ id }}">
    <div id="{{ left.id }}" class="cell {{ left.cols|default('medium-4') }} {{ left.offset|default('medium-offset-1') }}" {{ left.attributes }}>
      {{ inklude.components(left) }}
    </div>
    <div id="{{ right.id }}" class="cell {{ right.cols|default('medium-4') }} {{ right.offset|default('medium-offset-1') }}" {{ right.attributes }}>
      {{ inklude.components(right) }}
    </div>
  </div>
</div>
