<section class="grid-container grid-container-padded footer__content">
  <div class="two_up--primary fluid " data-snap-id="">
    <div class="wrapper grid-x grid-margin-x " id="">
      <div id="" class="cell medium-6 large-4 ">
        <h3 class="">{{ footer__famsf__title }}</h3>
        <div class="textarea  ">
          <p class="margin-bottom-3">{{ footer__famsf__description }}</p>
        </div>
        {% include "@atoms/cta__button/cta__button.html.twig" with { link: footer__famsf__tickets } only %}
        {% include "@atoms/cta__button/cta__button.html.twig" with { link: footer__famsf__membership } only %}
      </div>
      <div id="" class="cell medium-6 large-6 large-offset-2">
        <div class="two_up--primary fluid footer-feature" data-snap-id="">
          <div class="wrapper grid-x grid-margin-x " id="">
            <div id="" class="cell medium-7 ">
              {% include "@molecules/picture/picture.html.twig" with footer__deyoung__image only %}
            </div>
            <div id="" class="cell medium-5 ">
              <h4 class="separator-left">{{ footer__deyoung__title }}</h4>
              <div class="textarea  ">
                <p class="show-for-large">
                  {{ footer__deyoung__description }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="two_up--primary fluid footer-feature" data-snap-id="">
          <div class="wrapper grid-x grid-margin-x " id="">
            <div id="" class="cell medium-7 ">
              {% include "@molecules/Picture/Picture.html.twig" with footer__legion__image only %}
            </div>
            <div id="" class="cell medium-5 ">
              <h4 class="separator-left">{{ footer__legion__title }}</h4>
              <div class="textarea  ">
                <p class="show-for-large">
                  {{ footer__legion__description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
