{% import "@macros/inklude.html.twig" as inklude %}
<div class="grid-x" data-author="{{ author_name }}">
  <div class="cell large-10 large-offset-1 {{ component_name ?: 'commentary' }} {{ author_image ? 'has-img' : 'no-img' }}">
    <div class="grid-x commentary__content">
      <div class="cell large-5 commentary__layout-left">
        {% if author_image %}
          <div class="commentary__image">
            {% include "@molecules/Picture/Picture.html.twig" with author_image only %}
          </div>
        {% endif %}
        <h3 class="commentary__author-name">{{ author_name }}</h3>
        <h4 class="commentary__author-title">{{ author_title }}</h4>
        <p class="commentary__author-bio">
          {{ author_bio }}
        </p>
      </div>
      <div class="cell large-7 commentary__layout-right">
        {% include "@atoms/commentary__icon/commentary__icon.html.twig" %}
        {{ inklude.components(_context) }}
        {% include "@molecules/sharing-icons/sharing-icons.html.twig" %}
      </div>
    </div>
  </div>
</div>
