{#
/**
 * @file
 * Custom override for field section
 *
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% for item in items %}
    <div class="zoom-group js-zoom-group">
        <div class="zoom-marker-outer js-zoom-marker-outer" style="position: absolute; left: {{ item.content['#paragraph'].field_left_position.value }}%; top: {{ item.content['#paragraph'].field_top_position.value }}%;">
            <a class="zoom-marker-inner animated fadeInDownShort delay-{{ item.content['#paragraph'].field_marker_delay.value }} js-zoom-marker-inner" href="#" title="Click to zoom"><span class="icon--small">{{  include(active_theme_path() ~ '/svg/famsf-zoom-in-sm.svg') }}</span> <div class="zoom-marker__text">Click to zoom</div></a>
        </div>
        <div class="zoom-detail-view js-zoom-detail-view" style="display:none;">
            {{ item.content|without('field_left_position', 'field_top_position', 'field_marker_delay') }}
        </div>
    </div>
{% endfor %}