{#
/**
 * @file
 * Theme override to display a digital story node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{% set boldTitle = (node.field_title_style.value == 'has-backdrop' or node.field_title_style.value == 'has-bold-outlined') %}

{% set classes = [
logged_in? 'admin__article'
] %}
{% set wrapperClasses = [
'site-hero',
node.field_background_image.entity.fileuri?'':'pattern'
] %}
{% set sectionTitleWrapperClasses = [
boldTitle?'site-hero__title--bold animated':'site-hero__title',
node.field_title_position.value,
node.field_title_style.value,
'delay-1250'
] %}
{% set sectionHeroClasses = [
boldTitle?'animated delay-1250':'',
node.field_title_style.value != 'has-backdrop'?'site-hero__title-text',
] %}
{% set sectionTitleClasses = [
boldTitle?'':'animated delay-1500',
] %}

{% set animatedClasses = [
'animated delay-1500',
] %}
<article{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div{{ author_attributes }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}
    <section class="js-section pp-scrollable" id="start">
        <div class="{{ wrapperClasses|join(' ') }}" {% if node.field_site_hero_background_image.value is not empty %}data-bg="{{ file_url(node.field_site_hero_background_image.entity.fileuri) }}" style="background-position-y: {{ node.field_hero_image_position.value }};"{% endif %}>
            <div class="{{ sectionTitleWrapperClasses|join(' ') }}">
                {% if boldTitle %}
                    <div class="delay-3500 animated animated-border--top"></div>
                {% endif %}
                <div class="js-section-hero--get_height {{ sectionHeroClasses|join(' ')}}">

                    {% if node.field_theme.value starts with 'legion' %}
                    <span class="site-hero__logo {{ animatedClasses|join(' ') }}"><a href="https://legionofhonor.famsf.org/" >Legion of Honor Museum</a></span>
                    {% else %}
                    <span class="site-hero__logo {{ animatedClasses|join(' ') }}"><a href="https://deyoung.famsf.org/" >de Young Museum</a></span>
                    {% endif %}
                    <h1 class="{{ sectionTitleClasses|join(' ') }}"> {{ label }}</h1>
                    <h2 class="{{ sectionTitleClasses|join(' ') }}">{{ node.field_exhibition_dates.value }}</h2>
                </div>
                {% if not boldTitle %}
                <div class="site-hero__rectangle top animated fadeInLeft delay-250 js-section-hero--set_height"></div>
                <div class="site-hero__rectangle bottom animated fadeInRight delay-250 js-section-hero--set_height"></div>
                {% endif %}
                {% if boldTitle %}
                    <div class="delay-3500 animated animated-border--bottom"></div>
                {% endif %}
            </div>
        </div>
        <button class="js-next-page next-page animated delay-100">
            <div class="icon--xsmall">
                {{ include(active_theme_path() ~ '/svg/'~ custom_theme ~ '/famsf-caret-down-sm.svg') }}
            </div>
        next page
        </button>
    </section>
    {{ content.field_section }}
    <section class="js-section pp-scrollable footer" id="{{ node.field_footer_title.value|trim|clean_id }}">
        <footer class="card-section">
            <div class="container">
                <div class="l-1up">
                    <h2>{{ node.field_footer_title.value }}</h2>
                </div>
            </div>
            <div class="container">

                <div class="l-33-66--1">
                    <article class="footer-section">
                        {% if node.field_main_footer_image.entity.fileuri is not empty %}
                            <img data-src="{{ file_url(node.field_main_footer_image.entity.fileuri) }}" alt="{{ node.field_main_footer_image.entity.alt }}">
                        {% endif %}
                        {% if node.field_non_member_ticket_link.uri|striptags|trim is not empty %}
                            <a class="color-block-button--full" href="{{ node.field_non_member_ticket_link.uri }}">Non-member Tickets</a>
                        {% endif %}
                        {% if node.field_member_ticket_link.uri|striptags|trim is not empty %}
                            <a class="color-block-button--full" href="{{ node.field_member_ticket_link.uri }}">Member Tickets</a>
                        {% endif %}
                    </article>
                </div>

                <div class="l-33-66--2">
                    {{ content.field_footer_feature }}
                </div>
            </div>

            <div class="container">

                <div class="l-2up--1">
                    <h3 class="footer-section__title">Visiting</h3>
                    {% if node.field_theme.value starts with 'legion' %}
                    <img class="footer-img__half" data-src="/{{ active_theme_path() }}/imgs/footer/visiting.png" alt="Guests spend time in the courtyard at the Legion of Honor" />
                    <div class="footer-block__half">
                        <h4>Legion of Honor </h4>
                        <p>Lincoln Park, 100 34th Avenue, San Francisco<br />Open 9:30 a.m.– 5:15 p.m.<br />Tuesdays–Sundays.<br />415 750-3600</p>

                        <p>
                            <a class="footer-link" href="https://www.famsf.org/">Fine Arts Museums of San Francisco</a>
                            <br />
                            <a class="footer-link" href="https://deyoung.famsf.org/">de Young</a>
                            <br />
                            <a class="footer-link" href="https://legionofhonor.famsf.org/">Legion of Honor</a>
                        </p>
                    </div>
                    <!-- Legion follow links -->
                    <h4>Follow Us</h4>
                    <ul class="social-media">
                        <li class="social-media__item">
                            <a href="https://www.facebook.com/LegionofHonor/"><span>Facebook</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-facebook-md.svg') }}</i></a>
                        </li>
                        <li class="social-media__item">
                            <a href="https://twitter.com/legionofhonor"><span>Twitter</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-twitter-md.svg') }}</i></a>
                        </li>
                        <li class="social-media__item">
                            <a href="https://www.instagram.com/legionofhonor/"><span>Instagram</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-instagram-md.svg') }}</i></a>
                        </li>
                        <li class="social-media__item">
                            <a href="http://legionofhonormuseum.tumblr.com/"><span>Tumblr</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-tumblr-md.svg') }}</i></a>
                        </li>
                        <li class="social-media__item">
                            <a href="http://www.youtube.com/famsf"><span>Youtube</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-youtube-md.svg') }}</i></a>
                        </li>
                    </ul>
                {% else %}
                    <img class="footer-img__half" data-src="/{{ active_theme_path() }}/imgs/footer/visiting.jpg" alt="Guests spend time in the courtyard at the de Young" />
                    <div class="footer-block__half">
                        <h4>de Young Museum </h4>
                        <p>Golden Gate Park, 50 Hagiwara Tea Garden Drive, San Francisco, CA 94118<br />Open 9:30 a.m.– 5:15 p.m.<br />Tuesdays–Sundays.<br />415 750-3600</p>

                        <p>
                            <a class="footer-link" href="https://www.famsf.org/">Fine Arts Museums of San Francisco</a>
                            <br />
                            <a class="footer-link" href="https://deyoung.famsf.org/">de Young</a>
                            <br />
                            <a class="footer-link" href="https://legionofhonor.famsf.org/">Legion of Honor</a>
                        </p>
                    </div>
                    <!-- de Young follow links -->
                    <h4>Follow Us</h4>
                    <ul class="social-media">
                        <li class="social-media__item">
                            <a href="https://www.facebook.com/deYoungMuseum/"><span>Facebook</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-facebook-md.svg') }}</i></a>
                        </li>
                        <li class="social-media__item">
                            <a href="https://twitter.com/deyoungmuseum"><span>Twitter</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-twitter-md.svg') }}</i></a>
                        </li>
                        <li class="social-media__item">
                            <a href="https://www.instagram.com/deyoungmuseum/"><span>Instagram</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-instagram-md.svg') }}</i></a>
                        </li>
                        <li class="social-media__item">
                            <a href="http://deyoungmuseum.tumblr.com/"><span>Tumblr</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-tumblr-md.svg') }}</i></a>
                        </li>
                        <li class="social-media__item">
                            <a href="https://www.youtube.com/user/FAMSF"><span>Youtube</span><i class="icon--small">{{ include(active_theme_path() ~ '/svg/famsf-youtube-md.svg') }}</i></a>
                        </li>
                    </ul>
                {% endif %}
                </div>
                <div class="l-2up--2">
                    <h3 class="footer-section__title">Special Thanks</h3>
                    {{ content.field_sponsor }}
                </div>
            </div>
            <div class="container footer-small">
                <div class="l-2up--1">
                    {% if node.field_theme.value starts with 'legion' %}
                    <a href="https://legionofhonor.famsf.org/contact">Contact</a>
                    <a href="https://legionofhonor.famsf.org/privacy">Privacy</a>
                    <a href="https://legionofhonor.famsf.org/terms">Terms &amp; Conditions</a>
                    {% else %}
                    <a href="https://deyoung.famsf.org/contact">Contact</a>
                    <a href="https://deyoung.famsf.org/privacy">Privacy</a>
                    <a href="https://deyoung.famsf.org/terms">Terms &amp; Conditions</a>
                    {% endif %}
                </div>
                <div class="l-2up--2">
                    <p class="footer-small__copyright">&copy;{{ "now"|date("Y") }} Fine Arts Museums of San Francisco</p>
                </div>
            </div>
        </footer>
    </section>
</article>
<div class="zoom-overlay-background js-zoom-overlay-background" style="display: none;">
</div>
<div class="zoom-window js-zoom-window" style="display: none;">
    <button class="zoom-close js-zoom-close" href="#" style="display: none;">
        <i class="icon--small">
            {{  include(active_theme_path() ~ '/svg/'~ custom_theme ~ '/famsf-zoom-out-sm.svg') }}
        </i>
        <div class="zoom-marker__text">close</div>
    </button>
    <div class="zoom-window__content js-zoom-window__content" style="display: none;">
    </div>
</div>
