{% macro print(value, default) %}
  {{- value is defined ? value : default -}}
{% endmacro %}
{% import _self as do %}
<div class="scroll-comparison grid-x fluid {{ classes }}" id="{{ id }}">
  <div class="cell small-12 large-8 large-offset-2">
    <div class="wrapper grid-x grid-margin-x">
      <div class="cell active" {{ left.attributes }}>
        {% include "@molecules/picture/picture--captioned.html.twig" with {
          picture: left__image,
          caption: {
            id: slug ~ '__caption',
            brief: left__caption_brief,
            text: left__caption
        } only %}
        {% include "@atoms/h3/h3.html.twig" with { text: left__title } only %}
        <div class="content">
          {{ left__body }}
        </div>
      </div>
      <div class="cell" {{ right.attributes }}>
        {% include "@molecules/picture/picture--captioned.html.twig" with {
          picture: right__image,
          caption: {
            id: slug ~ '__caption',
            brief: right__caption_brief,
            text: right__caption
        } only %}

        {{ right__title }}

        <div class="content">
        {{ right__body }}
        </div>
      </div>
    </div>
  </div>
</div>
