{% set style = 'full-screen' %}
{% import "@macros/ci-size.html.twig" as ci %}
{% import "@macros/ci-quality.html.twig" as ci %}

<div
  class="ambient_video two_up--primary fluid"
  ci-responsive
  ci-img-background="{{ background.uri }}"
  ci-size="{{ ci.size(style) }}"
  ci-type="crop"
  ci-params="{{ ci.quality(background.uri, background.quality) }}"
  data-snap-id="{{ snap_id }}"
  >
  <div class="text_content grid-x grid-margin-x" id="{{ id }}">
    <div class="cell medium-4 medium-offset-7">
      {{ text }}
    </div>
  </div>
  {#
   Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
   WCAG general accessibility recommendation is that media such as background video play through only once.
   Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
  #}
  {% if youtube %}
    <div class="plyr_target video_player" data-plyr-provider="youtube" id="{{ id }}_vid" data-plyr-embed-id="{{ youtube.embed }}" ></div>
  {% else %}
    <video class="video_element video_player" id="{{ id }}_vid" poster="{{ poster }}" playsinline autoplay muted loop>
      {% for type, source in sources %}
        <source src="{{ source }}" type="video/{{ type }}">
      {% endfor %}
    </video>
  {% endif %}

</div>
