<section class="page {{ classes }}" id="{{ id }}">

    {% if pageType == 'coverPage' %}
      {% include "@molecules/CoverPage/CoverPage.html.twig"%}
    {% elseif pageType == 'slideShow' %}
    {% elseif pageType == 'annotatedImageObject' %}
    {% elseif pageType == 'twoUp' %}
      {% include "@layouts/two_up--primary/two_up--primary.html.twig" with pageData only %}
    {% else %}
      <div class="page__content">
        <div class="content {{ contentClasses }}">
          {% if pageTitle %}
            <h2 class="page-title">{{ pageTitle }}</h2>
          {% endif %}
          {{ pageContent }}
        </div>
      </div>
    {% endif %}
</section>
