<section class="page {{ classes|split(' ') }}" id="{{ id }}">

    {% if pageType == 'maskedloader' %}
      {% include "@organisms/MaskedLoader/MaskedLoader.html.twig" %}
    {% elseif pageType == 'twoCol' %}
      <div>
        Two Col
      </div>
    {% elseif pageType == 'slideShow' %}
    {% elseif pageType == 'annotatedImageObject' %}
    {% else %}
      <div class="page__content">
        <div class="content {{ contentClasses }}">
          {% if pageTitle %}
            <h2 class="page-title">{{ pageTitle }}</h2>
          {% endif %}
          {{ pageContent }}
        </div>
      </div>
    {% endif %}
</section>
