{% import "@organisms/Chapter/Chapter.html.twig" as get %}

<nav id="chapter_nav">
  <ul>
    {% for chapter in chapters %}
      {% set id = get.id(chapter) %}
      <li class="active">
        <a href="#{{ id }}" data-template-classes="chapter_nav__tip" data-position="right" data-fade-in-duration="625" data-fade-out-duration="525" data-alignment="center" data-tooltip title="{{ chapter.numeral }}&nbsp;&nbsp;&nbsp;{{ chapter.title }}" data-chapter="{{ id }}">
          <div class="dot_wrapper">
            <div class="dot">
              <span class="show-for-sr">{{ chapter.title }}</span>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
    <li class="placeholder">
      <a href="#endcap" aria-hidden="true" style="display:none;">
        <div class="dot_wrapper">
          <div class="dot">
            <span class="show-for-sr">{{ chapter.title }}</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <div class="scroll_percent" aria-hidden="true"></div>
</nav>
