<div class="cover_page" id="CoverPage" data-bg-image="{{ image.url }}" data-bg-image-alt="{{ image.alt }}">
  <div class="underlay">
    <div class="underlay_contents">
      <h1 class="headline exhibit_logo">
        <span class="solid">{{ title is iterable ? title.firstLine : title }}</span>
        {% if title.secondLine is not empty %}
          <br/><span class="outline">{{ title.secondLine }}</span>
        {% endif %}
      </h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
      <div class="content">
        <div class="info">
          <div class="loc">{{ info.location }}</div>
          <div class="date">{{ info.date }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="cover_loader_container">
    <div class="top loaderpane">
      <div class="headline mask">
        <div>
          <span class="text">{{ title is iterable ? title|join('<br/>') : title }}</span>
        </div>
      </div>
    </div>
    <div id="mask_loader" class="mask_loader loader loaderpane">
      <div class="headline">
        <span class="text">{{ title is iterable ? title|join('<br/>') : title }}</span>
      </div>
    </div>
  </div>
</div>
