{% macro print(title) %}
  <span class="solid">{{ title is iterable ? title.firstLine : title }}</span>
  {% if title.secondLine is not empty %}
    <br/><span class="outline">{{ title.secondLine }}</span>
  {% endif %}
{% endmacro %}
{% import _self as do %}

<div class="cover_page" id="CoverPage" data-bg-image="{{ image.url }}" data-bg-image-alt="{{ image.alt }}">
  <div class="underlay">
    <div class="underlay_contents">
      <h1 class="headline exhibit_logo">
        {{ do.print(title) }}
      </h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
      <div class="content">
        <div class="info">{{ info }}</div>
      </div>
    </div>
  </div>
  <div class="cover_loader_container">
    <div class="top loaderpane">
      <div class="headline mask">
        <div>
          <span class="text">{{ title is iterable ? title|join('<br/>') : title }}</span>
        </div>
      </div>
    </div>
    <div id="mask_loader" class="mask_loader loader loaderpane">
      <div class="headline">
        <span class="text">{{ title is iterable ? title|join('<br/>') : title }}</span>
      </div>
    </div>
  </div>
  <div class="down_arrow">
    <a href="#">{% include "@atoms/down_arrow/down_arrow.html.twig" with only %}
  </div>
</div>
