<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/vnd.microsoft.icon">
      <link rel="apple-touch-icon" href="/assets/images/favicon.png">
      <link rel="icon" href="/assets/images/favicon.png">
      <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
      <!-- or, set /favicon.ico for IE10 win -->
      <meta name="msapplication-TileColor" content="#f00">
      <meta name="msapplication-TileImage" content="/images/favicon.png">

      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TPPZRZB');</script>

      <!-- End Google Tag Manager -->
      <meta name="description" content="{{ config.description }}">
      {% include "@atoms/og_tag/og_tag.html.twig" with { property: "title", content: og__title } only %}
      {% include "@atoms/og_tag/og_tag.html.twig" with { property: "description", content: og__description } only %}
      {% include "@atoms/og_tag/og_tag.html.twig" with { property: "type", content: "website" } only %}
      {% include "@atoms/og_tag/og_tag.html.twig" with { property: "url", content: og__curl } only %}
      {% include "@atoms/og_tag/og_tag.html.twig" with { property: "image", content: og__image.src ~ '.jpg' } only %}

      <title>
        {{ story__title }}
      </title>

      {{ kstatic.scripts }}

      {% for script in config.scripts.header.kalastatic %}
        <script src="{{ script }}?{{ 'now'|date('U') }}"></script>
      {% endfor %}
      {% for script in config.scripts.header.all %}
        <script src="{{ script }}?{{ 'now'|date('U') }}"></script>
      {% endfor %}
      {{ kstatic.styles }}

      {% for sheet in config.stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ sheet }}?{{ 'now'|date('U') }}">
      {% endfor %}

      <link rel="stylesheet" type="text/css" href="/styles/{{ slug }}.css?{{ 'now'|date('U') }}">

  </head>
  <body class="{{bodyClass|clean_id}} {{classes}} {{ slug }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPPZRZB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="main">
      {{ contents }}
    </div>
    {% for script in config.scripts.footer.kalastatic %}
      <script src="{{ script }}"></script>
    {% endfor %}
    {% if slug == 'hub' %}
      {% for script in config.scripts.footer.hub %}
        <script src="{{ script }}"></script>
      {% endfor %}
    {% else %}
      {% for script in config.scripts.footer.all %}
        <script src="{{ script }}"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
