<div class="intro-text one_up--primary fluid {{ gridframe|default('grid-frame') }} {{ classes }}">
  <div class="grid-x grid-margin-x {{ grid }}">
    <div class="cell {{ cols|default('medium-10') }} {{ offset|default('medium-offset-1') }}">
      {% include '@atoms/h2/h2.html.twig' with { text: intro__title } %}
      <div class="text">
        {{ intro__text }}
      </div>
    </div>
  </div>
</div>
