{% import "@organisms/Chapter/Chapter.html.twig" as get %}

<nav id="mobile_nav">
  <h3 title="mobile_nav__title">Chapters</h3>
  <ul class="menu vertical menu--mobile">
    {% for chapter in chapters %}
      {% set id = get.id(chapter|merge({index: loop.index0})) %}
      <li>
        <a href="#{{ id }}" data-chapter="{{ id }}" data-chapter-index="{{ loop.index }}">
          <span class="menu--mobile__numeral">{{ chapter.chapter__numeral }}</span>
          <span class="menu--mobile__title">{{ chapter.chapter__title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
