<div id="slider__{{ id }}" data-slider-id="" class="beerslider">
  {{ id }}
  {{ comp__1__image.src }}
  {{ comp__1__image.alt }}
  {{ comp__2__image.src }}
  {{ comp__2__image.alt }}
  {{ template_id }}
</div>
