{% set default_image_sizes =
  "{
    small: '375x667',
    medium: '1024x768',
    large: '1280x800',
    xlarge: '1440x900',
    xxlarge: '1920x1080'
  }"
%}

<div class="video--embed" ci-responsive
  {% if poster %}
     ci-img-background="{{ poster }}"
  {% endif %}
     ci-size="{{ poster_sizes|default(default_image_sizes) }}"
     ci-type="crop"
>
  <div class="video--embed__wrapper">
    {% if youtube %}
      <div class="plyr_target video_player youtube" data-plyr-provider="youtube" id="{{ id }}_vid" data-plyr-embed-id="{{ youtube.embed }}" data-poster="{{ poster }}"></div>
    {% else %}
      <video class="plyr_target video_element video_player" id="{{ id }}_vid" poster="{{ poster }}" {{ controls }} {{ playsinline }} {{ autoplay }} {{ muted }} {{ loop}}>
        {% for type, source in sources %}
          <source src="{{ source }}" type="video/{{ type }}">
        {% endfor %}
      </video>
    {% endif %}
  </div>
</div>
