{% set style = 'full-screen' %}
{% import "@macros/ci-size.html.twig" as ci %}

<div class="video--embed {{ classes }} {{ overlay ? 'overlay' }}">
  <div class="video--embed__wrapper" ci-responsive ci-size="{{ ci.size(style) }}" ci-type="crop"
    {% if poster %}
    ci-img-background="{{ poster }}"
    {% endif %}
  >
    {% if youtube %}
      <div class="plyr_target video_player youtube" data-plyr-provider="youtube" id="{{ id }}_vid" data-plyr-embed-id="{{ youtube.embed }}" data-poster="{{ poster }}"></div>
    {% else %}
      <video class="plyr_target video_element video_player" id="{{ id }}_vid" poster="{{ poster }}" {{ controls }} {{ playsinline }} {{ autoplay }} {{ muted }} {{ loop}}>
        {% for type, source in sources %}
          <source src="{{ source }}" type="video/{{ type }}">
        {% endfor %}
      </video>
    {% endif %}

    {% if overlay %}
      {% include "@molecules/video-overlay/video-overlay.html.twig" with overlay only %}
    {% endif %}
  </div>
</div>
